*{box-sizing:border-box}

body{
margin:0;
min-height:100vh;
font-family:Segoe UI,Arial;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
cursor:pointer;
}

.hidden{display:none}

/* credit */
.credit{
position:fixed;
bottom:10px;
right:14px;
color:black;
font-size:12px;
z-index:999;
}

@media(min-width:600px){.credit{font-size:16px}}
@media(min-width:1000px){.credit{font-size:20px}}

/* floating heart password */
.floatingHint{
position:fixed;
z-index:900;
pointer-events:auto;
animation:floatMove 16s linear infinite;
}

.heart{
position:relative;
width:90px;
height:90px;
background:red;
transform:rotate(-45deg);
cursor:pointer;
box-shadow:0 0 18px rgba(255,0,0,.7);
}

.heart::before,
.heart::after{
content:"";
position:absolute;
width:90px;
height:90px;
background:red;
border-radius:50%;
}

.heart::before{
top:-45px;
left:0;
}

.heart::after{
left:45px;
top:0;
}

.heartText{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) rotate(45deg);
color:black;
font-size:15px;
font-family:Segoe UI,Arial;
white-space:nowrap;
opacity:0;
transition:.3s ease;
z-index:2;
}

/* show on hover and tap */
.heart:hover .heartText,
.heart:active .heartText{
opacity:1;
}

@keyframes floatMove{
0%{top:8%;left:5%}
25%{top:25%;left:70%}
50%{top:65%;left:60%}
75%{top:60%;left:15%}
100%{top:8%;left:5%}
}

/* lock screen */
.lockScreen{
position:fixed;
inset:0;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
}

.lockScreen input{
padding:12px 20px;
border:none;
border-radius:30px;
margin:10px;
}

.lockScreen button{
background:#ff4b6e;
color:white;
border:none;
padding:12px 30px;
border-radius:30px;
}

/* card */
.card{
background:white;
padding:45px 35px;
border-radius:28px;
width:min(90%,380px);
text-align:center;
box-shadow:0 0 50px rgba(255,140,200,.7);
z-index:2;
}

.emoji{font-size:50px}

.buttons{margin-top:30px;position:relative;height:140px}

button{
border:none;
padding:14px 40px;
border-radius:40px;
font-size:17px;
cursor:pointer;
}

#yes{
background:#ff4b6e;
color:white;
}

#no{
background:#eee;
position:absolute;
right:0;
}

/* fireworks emojis */
.laugh{
position:absolute;
top:-40px;
font-size:32px;
animation:emojiFall linear forwards;
}

@keyframes emojiFall{
to{transform:translateY(110vh) rotate(360deg);opacity:0}
}

/* meme text */
.memeText{
font-size:34px;
font-weight:800;
color:#ff2d55;
}



.memeBox{
font-size:70px;
animation:memePop 1s ease infinite alternate;
}

@keyframes memePop{
0%{transform:scale(1) rotate(0deg);}
100%{transform:scale(1.2) rotate(6deg);}
}

.memeText{
font-size:28px;
margin-top:15px;
animation:textShake .4s infinite;
}

@keyframes textShake{
0%{transform:translateX(0)}
25%{transform:translateX(-3px)}
50%{transform:translateX(3px)}
75%{transform:translateX(-3px)}
100%{transform:translateX(0)}
}
